@charset "UTF-8";

@font-face{
  font-family: 'Dogica';
  src: url('fonte/OTF/dogicapixelbold.otf');
  format ('opentype');
}

*{
  margin:0px;
  padding:0px;
}

body{
  background-color: rgb(6, 6, 6);
}

 header{
 background-color: rgb(51, 113, 29);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 80px;
  text-align: center;
 }
 
 .tituloh{
color: white;
padding-bottom: 6px;
font-family: 'Dogica', 'Arial', sans-serif;
font-size: 40px;
text-shadow: 1px 2px 1px  rgba(8, 8, 8, 0.722);
 }
 
 .link{
 text-decoration: none;
 padding: 8px;
 color: white;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 18px;
 text-shadow: 1px 2px 1px  rgba(8, 8, 8, 0.393);
 
}

 .link:hover{
  background-color: rgba(0, 0, 0, 0.566);
  box-shadow: 0px 1px 0px 0px;
  border-radius: 2px;
  transition-duration: 0.4s;
 }

 main{
  color: rgb(255, 246, 246);
  text-align: center;
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  }

  main > p{
    color: rgb(180, 180, 180);
  }
 
  .tituloh{
  padding-left: 40px;
  }

  .tituloprincipal{
    line-height: 32px;
    font-size: 22px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Dogica', 'Arial', sans-serif;
  
  }

main > p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 5px;
  line-height: 24px;
  font-size: 17px;
  padding: 4px 20px 15px 15px;
}

  strong{
    color:  rgb(51, 113, 29);
    font-weight: bold;
  }
  
  .titulosecundario{
    font-size: 18px;
  padding-bottom: 6px;
  font-family: 'Dogica', 'Arial', sans-serif;
  }

  div{
    background-color: rgb(51, 113, 29);
    color: rgb(180, 180, 180);
    border-radius: 8px;
    margin: auto;
  }

  iframe{
    width: 100%;
    min-height: 300px;
    max-height: 1000px;
    height: 400px;
    padding-bottom: 20px;
   }

  div > h3{
    padding-top: 20px;
    font-family: 'Dogica', 'Arial', sans-serif;
    font-size: 16px;
    text-shadow: 1px 2px 1px  rgba(8, 8, 8, 0.393);
  }
  
  div > img{
    padding-top: 6px;
  }

  div > p {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5px 0px;
    line-height: 22px;
    text-indent: 20px;
    padding: 4px 20px 15px 15px ;
  }

  section > h1{
    font-family: 'Dogica', 'Arial', sans-serif;
    padding-bottom: 20px;
    padding-top: 50px;
    min-height: 25px;
  }

  section > h2{
    padding-top: 7px;
    padding-bottom: 10px;
    font-family: 'Dogica', 'Arial', sans-serif;
    font-size: 16px;
  }

  section > p{
    color: rgb(180, 180, 180);
    padding-bottom: 10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5px 0px;
    line-height: 22px;
    font-size: 17px;
    padding: 4px 20px 15px 15px;
  }

 .linksection{
  text-decoration: none;
  color:  rgb(51, 113, 29);
  font-weight: bold;
 }

 .linksection:hover{
  text-decoration: underline;
  color: rgb(60, 188, 14);;
 }

  footer{
    background-color: rgb(17, 17, 17);
    text-align: center;
   min-height: 110px;
   margin-top: 15px;
  }

  footer > p{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  footer > a{
    padding: 2px 12px 15px 10px;

    }


